<nav>
    <div class="site-title">
    <a href="/"><h1>Homero Blog</h1></a>
    <p>A Net Homero Site</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Blog</a></li>
        </ul>
            </nav>
    
    