<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<div class="about content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit corporis laborum quam labore pariatur possimus numquam, at ducimus non et expedita animi consequuntur hic culpa aliquam nostrum commodi reiciendis tempore!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus cum maiores delectus eum iusto eligendi quisquam repellat ad voluptate saepe suscipit, earum iste nostrum voluptatibus perspiciatis praesentium numquam optio! Culpa!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore ad nisi dicta corrupti fuga quia dolorem nesciunt consequatur architecto, amet quos sint consequuntur quidem sed officiis explicabo omnis eum dolorum.</p>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>